# inventory management

In [3]:
Items = {"1":{'ProductID' : 123001 , 'Name' : 'Biscuit' , 'Price' : 25 , 'Quantity' : 60 , 'Category' : 'Eatables'},
"2":{'ProductID' : 123002 , 'Name' : 'Noodles' , 'Price' : 40 , 'Quantity' : 100 , 'Category' : 'Eatables'},
"3":{'ProductID' : 123003 , 'Name' : 'Cold Drinks' , 'Price' : 30 , 'Quantity' : 120 , 'Category' : 'Drinks'},
"4":{'ProductID' : 123004 , 'Name' : 'Maggi' , 'Price' : 12 , 'Quantity' : 50 , 'Category' : 'Eatables'},
"5":{'ProductID' : 123005 , 'Name' : 'Salt' , 'Price' : 30 , 'Quantity' : 35 , 'Category' : 'Eatables'},
"6":{'ProductID' : 123006 , 'Name' : 'Sauce' , 'Price' : 100 , 'Quantity' : 65 , 'Category' : 'Eatables'},
"7":{'ProductID' : 123007 , 'Name' : 'Spices' , 'Price' : 120 , 'Quantity' : 200 , 'Category' : 'Eatables'},
"8":{'ProductID' : 123008 , 'Name' : 'Soap' , 'Price' : 60 , 'Quantity' : 130 , 'Category' : 'Eatables'},
"9":{'ProductID' : 123009 , 'Name' : 'Chocolate' , 'Price' : 10 , 'Quantity' : 90 , 'Category' : 'Eatables'},
"10":{'ProductID' : 1230010 , 'Name' : 'Oil' , 'Price' : 300 , 'Quantity' : 150 , 'Category' : 'Eatables'},
"11":{'ProductID' : 1230011 , 'Name' : 'Bisleri', 'Price' : 20 , 'Quantity' : 140 , 'Category' : 'Drink'},
"12":{'ProductID' : 1230012 , 'Name' : 'Cheese' , 'Price' : 125 , 'Quantity' : 84 , 'Category' : 'Eatables'},
"13":{'ProductID' : 1230013 , 'Name' : 'Bulb' , 'Price' : 200 , 'Quantity' : 99 , 'Category' : 'Appliances'},
"14":{'ProductID' : 1230014 , 'Name' : 'Pen' , 'Price' : 8 , 'Quantity' : 60 , 'Category' : 'Accessory'},
"15":{'ProductID' : 1230015 , 'Name' : 'Scissor' , 'Price' : 50 , 'Quantity' : 109 , 'Category' : 'Accessory'},
"16":{'ProductID' : 1230016 , 'Name' : 'Detergent' , 'Price' : 99 , 'Quantity' : 77 , 'Category' : 'Cleaning'},
"17":{'ProductID' : 1230017 , 'Name' : 'Badam' , 'Price' : 250 , 'Quantity' : 86 , 'Category' : 'Dry Fruits'},
"18":{'ProductID' : 1230018 , 'Name' : 'Cashew' , 'Price' : 195 , 'Quantity' : 68 , 'Category' : 'Dry Fruits'},
"19":{'ProductID' : 1230019 , 'Name' : 'Tea powder' , 'Price' : 123 , 'Quantity' : 102 , 'Category' : 'Drinks'},
"20":{'ProductID' : 1230020 , 'Name' : 'Coffee' , 'Price' : 77 , 'Quantity' : 89 , 'Category' : 'Drinks'},
"21":{'ProductID' : 1230021 , 'Name' : 'Slides' , 'Price' : 150 , 'Quantity' : 60 , 'Category' : 'Footwear'},
"22":{'ProductID' : 1230022 , 'Name' : 'Dinner set' , 'Price' : 600 , 'Quantity' : 130 , 'Category' : 'Crockery'},
"23":{'ProductID' : 1230023 , 'Name' : 'Clock' , 'Price' : 500 , 'Quantity' : 83 , 'Category' : 'Appliance'},
"24":{'ProductID' : 1230024 , 'Name' : 'Glass' , 'Price' : 85 , 'Quantity' : 58 , 'Category' : 'Crockery'},
"25":{'ProductID' : 1230025 , 'Name' : 'Cap' , 'Price' : 40 , 'Quantity' : 78 , 'Category' : 'Eatables'},
"26":{'ProductID' : 1230026 , 'Name' : 'Socks' , 'Price' : 20 , 'Quantity' : 24 , 'Category' : 'Eatables'},
"27":{'ProductID' : 1230027 , 'Name' : 'Towel' , 'Price' : 70 , 'Quantity' : 190 , 'Category' : 'Cloth'},
"28":{'ProductID' : 1230028 , 'Name' : 'Chair' , 'Price' : 825 , 'Quantity' : 77 , 'Category': 'Furniture'},
"29":{'ProductID' : 1230029 , 'Name' : 'Bag' , 'Price' : 68 , 'Quantity' : 91 , 'Category' : 'Cloth'},
"30":{'ProductID' : 1230030 , 'Name' : 'Showpiece' , 'Price' : 145 , 'Quantity' : 92 , 'Category' : 'Decor'},
"31":{'ProductID' : 1230031 , 'Name' : 'Vase' , 'Price' : 155 , 'Quantity' : 30 , 'Category' : 'Decor'},
"32":{'ProductID' : 1230032 , 'Name' : 'Lamps' , 'Price' : 355 , 'Quantity' : 61 , 'Category' : 'Appliance'},
"33":{'ProductID' : 1230033 , 'Name' : 'Photo Frame' , 'Price' : 103 , 'Quantity' : 97 , 'Category' : 'Decor'},
"34":{'ProductID' : 1230034 , 'Name' : 'Kitchen Napkin' , 'Price' : 95 , 'Quantity' : 44 , 'Category' : 'Cloth'},
"35":{'ProductID' : 1230035 , 'Name' : 'Bottle' , 'Price' : 55 , 'Quantity' : 44 , 'Category' : 'Accessory'}}

In [4]:
import json
js = json.dumps(Items)
js

'{"1": {"ProductID": 123001, "Name": "Biscuit", "Price": 25, "Quantity": 60, "Category": "Eatables"}, "2": {"ProductID": 123002, "Name": "Noodles", "Price": 40, "Quantity": 100, "Category": "Eatables"}, "3": {"ProductID": 123003, "Name": "Cold Drinks", "Price": 30, "Quantity": 120, "Category": "Drinks"}, "4": {"ProductID": 123004, "Name": "Maggi", "Price": 12, "Quantity": 50, "Category": "Eatables"}, "5": {"ProductID": 123005, "Name": "Salt", "Price": 30, "Quantity": 35, "Category": "Eatables"}, "6": {"ProductID": 123006, "Name": "Sauce", "Price": 100, "Quantity": 65, "Category": "Eatables"}, "7": {"ProductID": 123007, "Name": "Spices", "Price": 120, "Quantity": 200, "Category": "Eatables"}, "8": {"ProductID": 123008, "Name": "Soap", "Price": 60, "Quantity": 130, "Category": "Eatables"}, "9": {"ProductID": 123009, "Name": "Chocolate", "Price": 10, "Quantity": 90, "Category": "Eatables"}, "10": {"ProductID": 1230010, "Name": "Oil", "Price": 300, "Quantity": 150, "Category": "Eatables"}, "11": {"ProductID": 1230011, "Name": "Bisleri", "Price": 20, "Quantity": 140, "Category": "Drink"}, "12": {"ProductID": 1230012, "Name": "Cheese", "Price": 125, "Quantity": 84, "Category": "Eatables"}, "13": {"ProductID": 1230013, "Name": "Bulb", "Price": 200, "Quantity": 99, "Category": "Appliances"}, "14": {"ProductID": 1230014, "Name": "Pen", "Price": 8, "Quantity": 60, "Category": "Accessory"}, "15": {"ProductID": 1230015, "Name": "Scissor", "Price": 50, "Quantity": 109, "Category": "Accessory"}, "16": {"ProductID": 1230016, "Name": "Detergent", "Price": 99, "Quantity": 77, "Category": "Cleaning"}, "17": {"ProductID": 1230017, "Name": "Badam", "Price": 250, "Quantity": 86, "Category": "Dry Fruits"}, "18": {"ProductID": 1230018, "Name": "Cashew", "Price": 195, "Quantity": 68, "Category": "Dry Fruits"}, "19": {"ProductID": 1230019, "Name": "Tea powder", "Price": 123, "Quantity": 102, "Category": "Drinks"}, "20": {"ProductID": 1230020, "Name": "Coffee", "Price": 77, "Quantity": 89, "Category": "Drinks"}, "21": {"ProductID": 1230021, "Name": "Slides", "Price": 150, "Quantity": 60, "Category": "Footwear"}, "22": {"ProductID": 1230022, "Name": "Dinner set", "Price": 600, "Quantity": 130, "Category": "Crockery"}, "23": {"ProductID": 1230023, "Name": "Clock", "Price": 500, "Quantity": 83, "Category": "Appliance"}, "24": {"ProductID": 1230024, "Name": "Glass", "Price": 85, "Quantity": 58, "Category": "Crockery"}, "25": {"ProductID": 1230025, "Name": "Cap", "Price": 40, "Quantity": 78, "Category": "Eatables"}, "26": {"ProductID": 1230026, "Name": "Socks", "Price": 20, "Quantity": 24, "Category": "Eatables"}, "27": {"ProductID": 1230027, "Name": "Towel", "Price": 70, "Quantity": 190, "Category": "Cloth"}, "28": {"ProductID": 1230028, "Name": "Chair", "Price": 825, "Quantity": 77, "Category": "Furniture"}, "29": {"ProductID": 1230029, "Name": "Bag", "Price": 68, "Quantity": 91, "Category": "Cloth"}, "30": {"ProductID": 1230030, "Name": "Showpiece", "Price": 145, "Quantity": 92, "Category": "Decor"}, "31": {"ProductID": 1230031, "Name": "Vase", "Price": 155, "Quantity": 30, "Category": "Decor"}, "32": {"ProductID": 1230032, "Name": "Lamps", "Price": 355, "Quantity": 61, "Category": "Appliance"}, "33": {"ProductID": 1230033, "Name": "Photo Frame", "Price": 103, "Quantity": 97, "Category": "Decor"}, "34": {"ProductID": 1230034, "Name": "Kitchen Napkin", "Price": 95, "Quantity": 44, "Category": "Cloth"}, "35": {"ProductID": 1230035, "Name": "Bottle", "Price": 55, "Quantity": 44, "Category": "Accessory"}}'

# choosing objects

In [7]:
print('''
-------------------------------------------------------------
-------------------------------------------------------------
     WELCOME TO  STORE
-------------------------------------------------------------
-------------------------------------------------------------
     1.View Items
     2.Buy Items
     3.Exit
     
''')
option = int(input("Enter your option :"))
if option == 1:
    print('----------------------------------')
    print("items available Convenience Store")
    
    print('----------------------------------')
  
    print('Enter the items and quantity you would like to purchase:')
    purchase={}
    for i in range (0,7):
        a = input()
        b = a.split(' ')
        purchase[b[0]] = int(b[1])

if option ==2:
    print("Buy the items of your choice")
    
    amount=0
    for i in purchase:    
        if(i in Items.keys()):
            print('you ordered {} {}'.format(purchase[i],Items[i]['Name']))
            print('Cost {} '.format(purchase[i]*Items[i]['Price']))
            amount+=purchase[i]*Items[i]['Price']
    print('Total bill : ',amount)
        
    total={}
    s=1
    for i in purchase:
        if(i in Items.keys()):
            sne={}
            sne['Item'] = Items[i]['Name']
            sne['Quantity'] = purchase[i]
            sne['Price'] = Items[i]['Price']
            sne['total'] = Items[1]['Price']*purchase[i]
            total[s] = sne
            s+=1
            
    print(''' Payment mode  
                1.Card
                2.Cash          
          ''')
    op = int(input('1:'))
    if op == 1:
        print('Card')
    
    print(total)
    if option == 3 :
        print("Exit")

-------------------------------------------------------------
-------------------------------------------------------------
     WELCOME TO  STORE
-------------------------------------------------------------
-------------------------------------------------------------
     1.View Items
     2.Buy Items
     3.Exit


Enter your option :1
----------------------------------
items available Convenience Store
----------------------------------
Enter the items and quantity you would like to purchase:
1 2
12 34
4 5
4 5
6 7
8 7
6 7

# adding and payment etc

In [8]:
option = int(input("Enter your option :"))
if option == 1:
    print('----------------------------------')
    print("items available Convenience Store")
    
    print('----------------------------------')
  
    print('Enter the items and quantity you would like to purchase:')
    purchase={}
    for i in range (0,7):
        a = input()
        b = a.split(' ')
        purchase[b[0]] = int(b[1])
    
    
if option ==2:
    print("Buy the items of your choice")
    
    amount=0
    for i in purchase:    
        if(i in Items.keys()):
            print('you ordered {} {}'.format(purchase[i],Items[i]['Name']))
            print('Cost {} '.format(purchase[i]*Items[i]['Price']))
            amount+=purchase[i]*Items[i]['Price']
    print('Total bill : ',amount)
        
    total={}
    s=1
    for i in purchase:
        if(i in Items.keys()):
            sne={}
            sne['Item'] = Items[i]['Name']
            sne['Quantity'] = purchase[i]
            sne['Price'] = Items[i]['Price']
            sne['total'] = Items[i]['Price']*purchase[i]
            total[s] = sne
            s+=1
            
    print(''' Payment mode  
                1.Card
                2.Cash          
          ''')
    op = int(input('1:'))
    if op == 1:
        print('Card')
        print(total)
    if option == 3 :
        print("Exit")

Enter your option :2
Buy the items of your choice
you ordered 2 Biscuit
Cost 50
you ordered 34 Cheese
Cost 4250
you ordered 5 Maggi
Cost 60
you ordered 7 Sauce
Cost 700
you ordered 7 Soap
Cost 420
Total bill :  5480
 Payment mode
                1.Card
                2.Cash

1:2

# sales and etc

In [9]:
j = json.dumps(total)

fd = open("Items.json",'w')

fd.write(j)

fd.close()

In [10]:
fd = open("Items.json", 'r') 
t = fd.read() 
fd.close()

In [11]:
j = json.dumps(total)

fd = open("Items.txt",'w')

fd.write(j)

fd.close()

In [12]:
fd = open("Items.txt", 'r') 
t = fd.read() 
fd.close()

In [13]:
t

'{"1": {"Item": "Biscuit", "Quantity": 2, "Price": 25, "total": 50}, "2": {"Item": "Cheese", "Quantity": 34, "Price": 125, "total": 4250}, "3": {"Item": "Maggi", "Quantity": 5, "Price": 12, "total": 60}, "4": {"Item": "Sauce", "Quantity": 7, "Price": 100, "total": 700}, "5": {"Item": "Soap", "Quantity": 7, "Price": 60, "total": 420}}'

In [14]:
s = json.loads(t)

In [15]:
import time

In [17]:
s

{'1': {'Item': 'Biscuit', 'Quantity': 2, 'Price': 25, 'total': 50},
 '2': {'Item': 'Cheese', 'Quantity': 34, 'Price': 125, 'total': 4250},
 '3': {'Item': 'Maggi', 'Quantity': 5, 'Price': 12, 'total': 60},
 '4': {'Item': 'Sauce', 'Quantity': 7, 'Price': 100, 'total': 700},
 '5': {'Item': 'Soap', 'Quantity': 7, 'Price': 60, 'total': 420}}

# add prod

In [18]:
p_no = int(input("Enter Product no:"))
P_ID = str(input("Enter Product id:"))
Name = str(input("Enter Name:"))
Pr = int(input("Enter Price:"))
Q = int(input("Enter Quantity:"))
C = str(input("Enter Category:"))

Items[p_no] = {'ProductID': P_ID ,'Name': Name, 'Price': Pr ,'Quantity': Q , 'Category':C}

js = json.dumps(Items)

fd = open("Items.json",'w')
fd.write(js)
fd.close()
Items

Enter Product no:37
Enter Product id:1008945
Enter Name:con
Enter Price:60
Enter Quantity:45
Enter Category:med

{'1': {'ProductID': 123001,
  'Name': 'Biscuit',
  'Price': 25,
  'Quantity': 60,
  'Category': 'Eatables'},
 '2': {'ProductID': 123002,
  'Name': 'Noodles',
  'Price': 40,
  'Quantity': 100,
  'Category': 'Eatables'},
 '3': {'ProductID': 123003,
  'Name': 'Cold Drinks',
  'Price': 30,
  'Quantity': 120,
  'Category': 'Drinks'},
 '4': {'ProductID': 123004,
  'Name': 'Maggi',
  'Price': 12,
  'Quantity': 50,
  'Category': 'Eatables'},
 '5': {'ProductID': 123005,
  'Name': 'Salt',
  'Price': 30,
  'Quantity': 35,
  'Category': 'Eatables'},
 '6': {'ProductID': 123006,
  'Name': 'Sauce',
  'Price': 100,
  'Quantity': 65,
  'Category': 'Eatables'},
 '7': {'ProductID': 123007,
  'Name': 'Spices',
  'Price': 120,
  'Quantity': 200,
  'Category': 'Eatables'},
 '8': {'ProductID': 123008,
  'Name': 'Soap',
  'Price': 60,
  'Quantity': 130,
  'Category': 'Eatables'},
 '9': {'ProductID': 123009,
  'Name': 'Chocolate',
  'Price': 10,
  'Quantity': 90,
  'Category': 'Eatables'},
 '10': {'ProductID': 1230010,
  'Name': 'Oil',
  'Price': 300,
  'Quantity': 150,
  'Category': 'Eatables'},
 '11': {'ProductID': 1230011,
  'Name': 'Bisleri',
  'Price': 20,
  'Quantity': 140,
  'Category': 'Drink'},
 '12': {'ProductID': 1230012,
  'Name': 'Cheese',
  'Price': 125,
  'Quantity': 84,
  'Category': 'Eatables'},
 '13': {'ProductID': 1230013,
  'Name': 'Bulb',
  'Price': 200,
  'Quantity': 99,
  'Category': 'Appliances'},
 '14': {'ProductID': 1230014,
  'Name': 'Pen',
  'Price': 8,
  'Quantity': 60,
  'Category': 'Accessory'},
 '15': {'ProductID': 1230015,
  'Name': 'Scissor',
  'Price': 50,
  'Quantity': 109,
  'Category': 'Accessory'},
 '16': {'ProductID': 1230016,
  'Name': 'Detergent',
  'Price': 99,
  'Quantity': 77,
  'Category': 'Cleaning'},
 '17': {'ProductID': 1230017,
  'Name': 'Badam',
  'Price': 250,
  'Quantity': 86,
  'Category': 'Dry Fruits'},
 '18': {'ProductID': 1230018,
  'Name': 'Cashew',
  'Price': 195,
  'Quantity': 68,
  'Category': 'Dry Fruits'},
 '19': {'ProductID': 1230019,
  'Name': 'Tea powder',
  'Price': 123,
  'Quantity': 102,
  'Category': 'Drinks'},
 '20': {'ProductID': 1230020,
  'Name': 'Coffee',
  'Price': 77,
  'Quantity': 89,
  'Category': 'Drinks'},
 '21': {'ProductID': 1230021,
  'Name': 'Slides',
  'Price': 150,
  'Quantity': 60,
  'Category': 'Footwear'},
 '22': {'ProductID': 1230022,
  'Name': 'Dinner set',
  'Price': 600,
  'Quantity': 130,
  'Category': 'Crockery'},
 '23': {'ProductID': 1230023,
  'Name': 'Clock',
  'Price': 500,
  'Quantity': 83,
  'Category': 'Appliance'},
 '24': {'ProductID': 1230024,
  'Name': 'Glass',
  'Price': 85,
  'Quantity': 58,
  'Category': 'Crockery'},
 '25': {'ProductID': 1230025,
  'Name': 'Cap',
  'Price': 40,
  'Quantity': 78,
  'Category': 'Eatables'},
 '26': {'ProductID': 1230026,
  'Name': 'Socks',
  'Price': 20,
  'Quantity': 24,
  'Category': 'Eatables'},
 '27': {'ProductID': 1230027,
  'Name': 'Towel',
  'Price': 70,
  'Quantity': 190,
  'Category': 'Cloth'},
 '28': {'ProductID': 1230028,
  'Name': 'Chair',
  'Price': 825,
  'Quantity': 77,
  'Category': 'Furniture'},
 '29': {'ProductID': 1230029,
  'Name': 'Bag',
  'Price': 68,
  'Quantity': 91,
  'Category': 'Cloth'},
 '30': {'ProductID': 1230030,
  'Name': 'Showpiece',
  'Price': 145,
  'Quantity': 92,
  'Category': 'Decor'},
 '31': {'ProductID': 1230031,
  'Name': 'Vase',
  'Price': 155,
  'Quantity': 30,
  'Category': 'Decor'},
 '32': {'ProductID': 1230032,
  'Name': 'Lamps',
  'Price': 355,
  'Quantity': 61,
  'Category': 'Appliance'},
 '33': {'ProductID': 1230033,
  'Name': 'Photo Frame',
  'Price': 103,
  'Quantity': 97,
  'Category': 'Decor'},
 '34': {'ProductID': 1230034,
  'Name': 'Kitchen Napkin',
  'Price': 95,
  'Quantity': 44,
  'Category': 'Cloth'},
 '35': {'ProductID': 1230035,
  'Name': 'Bottle',
  'Price': 55,
  'Quantity': 44,
  'Category': 'Accessory'},
 37: {'ProductID': '1008945',
  'Name': 'con',
  'Price': 60,
  'Quantity': 45,
  'Category': 'med'}}